<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfica Villar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>GRÁFICA VILLAR</h1>
    </header>

    <div>
        <nav>
            <ul>
                <li>início</li>
                <li><a href="">produtos</a></li>
                <li><a href="">contatos</a></li>
            </ul>
        </nav>
    
        <main>
            <article>
                <h2>SOBRE NÓS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptates, nobis perferendis recusandae exercitationem cumque provident esse, obcaecati suscipit sunt fugit repellat, necessitatibus iure. Eius vero voluptates doloribus nulla? Saepe. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio voluptatem, molestiae possimus dolore vitae officia deleniti quibusdam minima veniam suscipit, modi ullam consequatur! In aliquam quasi iste atque a maxime. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut eius facere necessitatibus nam, ab expedita soluta quo illo voluptate asperiores sed repudiandae harum praesentium assumenda est suscipit. Consequatur, aliquam optio.</p>
            </article>
            
            <article>
                <h2>PRODUÇÃO</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quaerat, reprehenderit eos molestiae, quo ducimus neque temporibus veniam atque unde, minima deserunt dolore eaque et rerum cum saepe labore nulla. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus incidunt, aut exercitationem molestias dolor nulla illum iusto, optio, officia deleniti suscipit harum magni magnam esse? Mollitia quasi enim corporis sequi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ducimus a inventore consequuntur itaque nam odio animi, quia hic iusto iste, voluptatum autem ad repudiandae error, quasi quod unde possimus!</P>
            </article>
    
            <article>
                <h2>DESTAQUES</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minima laboriosam dolore ea, praesentium voluptas aut vel inventore quos delectus explicabo commodi sunt eos iste aperiam sequi cupiditate repellat nisi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur reiciendis amet, vero esse error iusto dicta perspiciatis quasi saepe dolorum consectetur voluptatem odit rem maxime hic voluptates! Facere, error corporis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat ducimus, illum debitis maiores harum fuga nesciunt vero ullam accusantium eos nisi ipsum delectus non aut omnis iure tempora dolore excepturi.</P>
            </article>
        </main>    
    </div>
    
    <footer>
        <h3>Gráfica Villar - sempre a melhor impressão</h3>
    </footer>
</body>
</html>